:root {
  --yellow: #f5c32c;
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --blueCard2: #6eb2f7;
  --blueCard: #ddf8fe;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --bluePrimary: #2b2e4a;
  --redPrimary: #e84545;
  --blue: #e84545;
}

.App {
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
}

.button {
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  /* background: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%); */
  background: linear-gradient(62deg, #2b2e4a 0%, #e84545 100%);
  box-shadow: 0px 5px 6px 3px #fc958e65;
}

.button:hover {
  background: white;
  cursor: pointer;
  color: var(--redPrimary);
  border: 1px solid var(--redPrimary);
}

@media screen and (max-width: 480px) {
  .App {
    padding: 0.5rem 1rem;
  }
}
