.skill {
  padding: 0 3rem 0 3rem;
  display: flex;
  height: 90vh;
  margin-top: 4rem;
}

.sk-right {
  flex: 1;
  position: relative;
}
.sk-mainCircle {
  left: 9rem;
  position: relative;
  width: 18rem;
  height: 18rem;
  box-shadow: var(--smboxShadow);
  top: 2rem;
}
