.intro {
  display: flex;
  height: 77vh;
  margin-top: 10rem;
}
.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}
.i-name {
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
}

.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
}
.i-name > :nth-child(2) {
  color: var(--blue);
  font-weight: bold;
  font-size: 3rem;
}
.i-name > :nth-child(3) {
  font-weight: 100;
  font-size: 14px;
  color: var(--gray);
  margin-top: 10px;
}
.i-button {
  height: 2.5rem;
}
.i-icons {
  margin-top: 1rem;
  display: flex;
  gap: 0rem;
}
.i-icons > * {
  margin-right: 15px;
  max-height: 3rem;
}
.i-icons > *:hover {
  cursor: pointer;
}
.i-right {
  flex: 1;
  position: relative;
}

.i-right > * {
  position: absolute;
  z-index: 1;
}

.i-right > :nth-child(1) {
  z-index: 2;
  transform: scale(0.69);
  left: -10%;
  top: -25%;
}

.i-right > :nth-child(2) {
  z-index: 1;
  transform: scale(0.67);
  left: -2rem;
  top: -25%;
}

.i-right > :nth-child(3) {
  transform: scale(0.2);
}
.i-right > :nth-child(4) {
  transform: scale(0.5);
  top: -19%;
  border-radius: 50%;
  left: -15%;
  padding: 0;
}

.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff;
  z-index: -10;
  top: 18%;
  left: 56%;
  filter: blur(72px);
}

@media screen and (max-width: 480px) {
  .intro {
    flex-direction: column;
  }
  .i-right {
    transform: scale(0.8);
    left: -4rem;
  }

  .i-right .blur {
    display: none;
  }
}
