.project {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  padding-bottom: 10rem;
}

.project span:nth-child(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}

.project .swiper {
  overflow: hidden !important;
}

.project-slider {
  margin-top: 3rem;
  width: 100%;
}

.project-slider .swiper-slide {
  width: 25rem;
}

.project img {
  width: 25rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 25px;
}

s-wrapper
